<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<div class="">
  <div class="project col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <span class="h5 font-weight-bold"><%= @project.name %></span>
          </div>

          <div class="card-content">
            <div class="description">
              <h4>Descrição</h4>
              <span>
                <%= @project.description %>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <span class="h5 font-weight-bold">Dados Básicos</span>
          </div>

          <div class="card-content">
            <div class="description">
              <p><strong>Professor:</strong> <%= @project.integrants %></p>
              <p><strong>Faculdade:</strong> <%= @project.department.name %></p>
              <p><strong>Investimento:</strong> R$<%= @project.investments %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <span class="h5 font-weight-bold">Progresso</span>
      </div>
      <div class="card-content">
        <span>Recursos gastos em relação ao total disponibilizado.</span>
        <div class="progress">
          <div class="progress-bar-striped bg-info" role="progressbar" style="width: 30%" aria-valuenow="<%= @project.progress %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <span class="h5 font-weight-bold">Uso dos recursos</span>
          </div>

          <div class="card-content">
            <div class="row">
              <% if @updates.keys.length > 0 %>
                <div class="offset-lg-2 col-lg-8">
                  <canvas id="myChart"></canvas>
                </div>
              <% else %>
                <div class="col-lg-12">
                  <span class="h6 font-weight-bold">Ainda não foram utilizados os recursos.</span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <span class="h5 font-weight-bold">Atualizações</span>
          </div>

          <div class="card-content">
            <% if @project.project_updates.length > 0 %>
              <% @project.project_updates.each do |update| %>
                <div class="updates-card-wrapper">
                  <span class="h5 font-weight-bold"><%= update.title %></span>
                  <p class="mt-2"><%= update.description %></p>
                  <p><strong>Valor utilizado: </strong><%= number_to_currency(update.value, unit: "R$", separator: ",") %></p>
                </div>
              <% end %>
            <% else %>
              <div class="col-lg-12">
                <span class="h6 font-weight-bold">Nenhuma atualização encontrada.</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(() => {
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
            labels: [<% @updates.each do |name, value| %>"<%= name %>",<% end %>],
            datasets: [{
                label: "Uso dos recursos",
                backgroundColor: [<% @updates.keys.count.times do %>"<%= "rgb(#{@rand.rand(0..255)}, #{@rand.rand(0..255)}, #{@rand.rand(0..255)})" %>",<% end %>],
                data: [<% @updates.each do |name, value| %>"<%= value %>",<% end %>],
            }]
        },

        // Configuration options go here
        options: {
          responsive: true
        }
    });
  });
<% end %>
