<div class="card proposal-preview">
  <h4><%= proposal.name %></h4>
    <div class="proposal-progress">
      <span><%= proposal.description %></span> 
    </div>
    <div class="button-container text-right">
      <button type="button" class="btn btn-danger">
        <%= fa_icon "thumbs-down" %>
      </button>
      <button type="button" class="btn btn-success">
        <%= fa_icon "thumbs-up" %>
      </button>
    </div>
    <div class="button-container mt-2">
      <%= link_to  "Ver mais", company_proposal_path(proposal), class: 'btn btn-link float-right' %>
    </div>
  </div>
</div>
