<div class="container">
  <div class="mt-5">
    <div class="row">
      <div class="col-sm-6">
        <span class="h2">Projetos</span>
      </div>
      <div class="col-sm-6">
        <button type="button" class="btn btn-primary pull-right">Nova Proposta</button>
      </div>
    </div>
  </div>
  <div class="context-box-wrapper mt-4">
    <%= simple_form_for @department_proposal do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :tags, as: :select2, collection: @tags %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
